/* font */
@font-face {
    font-family: 'Babylon5';
    src: url('Babylon5.woff2') format('woff2'),
        url('Babylon5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Socialico';
    src: url('fonts/Socialico.woff2') format('woff2'),
        url('fonts/') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.woff2') format('woff2'),
        url('OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





body {
    min-width: 100%;
    /* FOR RESPONSIVE INNER PAGES */
}

.inner .inner-pages .row {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.inner .inner-pages h1 {
    padding-bottom: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


section {
    width: 100%;
    transition: 0.5s;
}


.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    -webkit-transition: 0.5s ease;
    transition: 0.4s ease;
}

.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}

.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

li.active-menu {
    text-shadow: 1px 1px 2px black, 0 0 0.5em blue;
}

/* this is a test git shit */
/* .hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}
.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}
.hamburger.is-active .bar {
    opacity: 0;
} */

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
figure,
figcaption {
    padding: 0;
    margin: 0;
}

/* cookie consent */
.cc-animate.cc-revoke.cc-bottom {
    font-size: 14px;
    padding: 5px 10px;
    position: fixed;
    display: block !important;
    transform: none !important;
    bottom: 0 !important;
    left: 20px !important;
}

/* call to action */
.destroy-on-load,
.cta {
    display: none;
}

header {
    width: 100%;
}

header #header_container nav { 
    max-width: 1222px;
    width: 100%;
    margin-left: auto;
    margin-right: 49px;
}

header #header_container nav .menu_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0 37px 0;
}
header #header_container nav ul{
    font-family: 'Poppins';
    font-size: 15px;
    color: #666666;
}

header #header_container nav ul a.soc_med {
    font-family: 'Socialico';
    font-size: 39px;
    letter-spacing: 0.3em;
}

header #header_container nav ul li.active-menu {
    font-weight: bold;
}

header #header_container nav ul .num {
    padding: 14px 44px;
    background-image: linear-gradient(to bottom left,#0080FF, #002DB2);
    border-radius: 30px;
    color: #ffffff;
}

header #header_container nav ul span {
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: bold;
}

 #home_container {
    background: url('../images/common/home_background.png') no-repeat center;
    background-size: cover;
}

 #home_container .text_container {
    max-width: calc(1696px + 15px);
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 297px;
}

#home_container .text_container img {
    margin-top: -95px;
}

 #home_container .text_container h2 {
    max-width: 730px;
    width: 100%;
    font-family: 'Poppins';
    font-size: clamp(1.5rem, 1.5rem + 1.3021vw, 3.0625rem);
    font-weight: bold;
    color: #ffffff;
    padding: 130px 0 23px 0;
}

 #home_container .text_container p {
    font-family: 'Poppins';
    font-size: clamp(1.125rem, 1.125rem + 0.2604vw, 1.4375rem);
    font-weight: bold;
    padding-bottom: 42px;
    color: #ffffff;
}

 #home_container .text_container a {
    max-width: 190px;
    width: 100%;
    border-radius: 30px;
    padding: 23px 36px;
    background-image: linear-gradient(to bottom left,#0080FF, #002DB2);
    font-family: 'Poppins';
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    display: block;
}


/* === SECTION 2 === */
#appliance {
    background: url('../images/common/appliance_background.png') no-repeat right center;
    background-size: cover;
    width: 100%;
    margin-top: -96px;
}

#appliance .appliance_wrapper {
    max-width: calc(1804px + 20px);
    width: 100%;
    margin: 0 auto;
    padding-top: clamp(1.125rem, 1.125rem + 4.9479vw, 7.0625rem);
    padding-bottom: clamp(1.25rem, 1.25rem + 6.0417vw, 8.5rem);
    padding-right: 20px;
    padding-left: 20px;
}

#appliance .appliance_wrapper .appliance_flex {
    display: flex;
    justify-content: end;
}

#appliance .appliance_wrapper .appliance_flex .text_container {
    padding-bottom: 291px;
    align-self: center;
}

#appliance .appliance_wrapper .appliance_flex h2 {
    font-family: 'Poppins';
    font-size: clamp(1.5rem, 1.5rem + 1.3021vw, 3.0625rem);
    padding-top: clamp(1.25rem, 1.25rem + 5.3125vw, 7.625rem);
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom left, #0080FF, #002DB2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#appliance .appliance_wrapper .appliance_flex h3 {
    font-family: 'Poppins';
    font-size: 19px;  
    color: #333333;
    padding-bottom: 40px;
}

#appliance .appliance_wrapper .appliance_flex p {
    max-width: 636px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #333333;
    padding-bottom: 28px;
}

#appliance .appliance_wrapper .appliance_flex a {
    max-width: 188px;
    width: 100%;
    display: block;
    padding: 25px 46px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    background-image: linear-gradient(to bottom left,#0080FF, #002DB2);
    color: #ffffff;
    border-radius: 30px;
}

/* === SECTION 4 === */
#services {
    background: url('../images/common/section4bluebackground.png') no-repeat top center;
    background-size: cover;
    margin-top: -93px;
}

#services .services_wrapper { 
    max-width: calc(1430px + 20px);
    width: 100%;
    padding: 49px 20px 181px;
    margin: 0 auto;
}

#services .services_wrapper .services_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    font-size: 47px;
    font-weight: 200;
    color: #ffffff;
    padding-top: 49px;
    padding-bottom: 121px;
}

#services .services_wrapper .appliances {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#services .services_wrapper .appliances .card {
    max-width: 338px;
    width: 100%;
    padding-bottom: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    font-family: 'Poppins';
}

#services .services_wrapper .appliances .card img {
    margin-top: -66px;
    text-align: center;
    /* max-width: 291px;
    width: 100%;
    height: auto; */
}



/* === SECTION 5 === */

#our_works {
    background: url('../images/common/our_works_background.png') no-repeat top center;
    background-size: cover;
    color: white;
}

#our_works .our_works_wrapper {
    max-width: calc(1431px + 20px);
    width: 100%;
    padding: 92px 20px 206px;
    margin: 0 auto;
}

#our_works .our_works_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
}

#our_works .our_works_title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 47px;
}

#our_works .our_works_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#our_works .our_works_flex img {
    max-width: 336px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#our_works .arrow {
    max-width: 98px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* BRANDS SECRTION */

#brands {
    width: 100%;
}

#brands .brands_wrapper {
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 150px 20px 50px;
}

#brands .brands_wrapper h2 {
    font-family: 'Poppins';
    font-size: 39px;
    font-weight: bold;
    padding-bottom: 68px;
    color: #0053D6;
}

#brands .brands_wrapper .brands_logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


/* === FOOTER === 
   === === ===
   ===
   === ===
   === ===
   ===
   ===
   ===
*/



#footer .footer_container .footer_wrapper .contact_us {
    max-width: 835px;
    width: 100%;
    background: #ffffff;
    padding: 80px 72px;
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.70);
}

#footer .footer_container .footer_wrapper .contact_us h2 {
    font-family: 'Barlow';
    font-size: 17px;
    font-weight: bold;
    color: #878787;
    letter-spacing: 0.5em;
    text-align: center;
}

#footer .footer_container .footer_wrapper .contact_us h3 {
    font-size: clamp(1.5rem, -1.7031rem + 10.25vw, 4.0625rem);
    font-family: 'Montserrat';
    font-weight: bold;
    color: #524E4C;
    padding-bottom: 15px;
    text-align: center;
    /* background-image: linear-gradient(to bottom left, #0080FF, #002DB2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

#footer .footer_container .footer_wrapper .contact_us p {
    max-width: 650px;
    font-family: 'Poppins';
    font-size: 14px;
    color: #333333;
    text-align: left;
    line-height: 22px;
}

#footer .footer_container .footer_wrapper .contact_us form {
    margin-top: 30px;
}


#footer .footer_container .footer_wrapper .contact_us .form-control {
    width: 100%;
    border: 1px solid #E9E9E9;
    background: #F4F4F4;
    outline: 0;
    padding: 15px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: 'Poppins';
}

#footer .footer_container .footer_wrapper .contact_us .contact_us_btn {
    text-transform: uppercase;
    background-image: linear-gradient(to bottom left, #0080FF, #002DB2);
    border: 0;
    border-radius: 30px;
    padding: 15px;
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

#footer .footer_container .footer_wrapper .contact_us .submit_btn {
    width: 100%;
    text-align: right;
}


/* FOR RESPONSIVE INNER PAGES */




/* === ===     === ===
   ===  ===   ===  ===
   ===   === ===   ===
   ===     ===     ===
   ===             ===
   === MEDIA QUERY ===
*/

/* === DESKTOP === */



/* 
=== === =      == == ==      === === ==     ===   ===    
=== == ===    ==  ===  ==   ==     == ==    ===   ===    
===     ==   ===       ===  ===             ===   ===
=== == =     ===       ===  ===   ==  ==    ===   ===
===          ===       ===  ===       ==    ===   ===
===           ==  ===  ==    ==  === ===    ===   ===
===            == == ==       == === ==     ===   === 
*/

/* MOBILE */

.parent {
    background: red;
    width: 200px;

        -webkit-transform: skewY(-75deg);
        -moz-transform: skewY(-75deg);
        -ms-transform: skewY(-75deg);
        -o-transform: skewY(-75deg);
        transform: skewY(-75deg);
      }
      
      .parent > .child {
        -webkit-transform: skewY(75deg);
        -moz-transform: skewY(75deg);
        -ms-transform: skewY(75deg);
        -o-transform: skewY(75deg);
        transform: skewY(75deg);
      }